<div>
  <div class="form-group help-pane">
    <small>
      Filter out any input record where the value of the input field meets the given condition.
      <div><prl-engine-api-help-link prl-uri="{{helpLink.uri}}" prl-label="{{helpLink.label}}"></prl-engine-api-help-link></div>
    </small>
  </div>

  <div class="form-group">
    <label>Input</label><i prl-info-icon="new_job_transform_inputs" />
    <input
      ng-model="transform.inputs[0]"
      required
      tabindex="1"
      list='properties_datalist'
      class="form-control" />
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label>Operator</label><i prl-info-icon="new_job_transform_condition" />
      <select
        ng-model="transform.condition.operator"
        ng-options="c.value as c.title for c in ui.conditions"
        tabindex="2"
        class="form-control">
      </select>
    </div>

    <div class="form-group col-md-6">
      <label>Value</label>
      <input
        ng-model="transform.condition.value"
        type="text"
        tabindex="3"
        class="form-control" />
    </div>
  </div>
</div>