<kbn-settings-app section="security">
  <div class="kbn-settings-security container">
    <br />
    <ul class="nav nav-tabs">
      <li class="kbn-settings-tab active"><a href="#/settings/security/users">Users</a></li>
      <li class="kbn-settings-tab"><a href="#/settings/security/roles">Roles</a></li>
    </ul>
    <br />
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <h4 ng-if="isNewUser" class="pull-left">New User</h4>
          <h4 ng-if="!isNewUser" class="pull-left">Edit User</h4>
          <div class="pull-right">
            <button ng-if="!isNewUser" class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
            <a href="#/settings/security/users" class="btn btn-default">Cancel</a>
            <button class="btn btn-primary" ng-click="saveUser(user)">Save</button>
          </div>
        </div>
        <form class="form-horizontal row">
          <div class="form-group">
            <label for="username" class="col-md-2 control-label">Username</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="username" ng-model="user.username" ng-if="isNewUser" required />
              <div class="help-block" ng-if="!isNewUser">{{user.username}}</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-2 control-label">Password</label>
            <div class="col-md-4">
              <input type="password" ng-show="showPasswordField" class="form-control" id="password" ng-model="user.password" required />
              <a ng-click="showPasswordField = !showPasswordField" ng-show="!showPasswordField">Change Password</a>
            </div>
          </div>
          <div class="form-group">
            <label for="fullname" class="col-md-2 control-label">Full Name</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="fullname" ng-model="user.full_name" />
            </div>
            <span class="help-block">Optional</span>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>
            <div class="col-md-4">
              <input type="email" class="form-control" id="email" ng-model="user.email" />
            </div>
            <span class="help-block">Optional</span>
          </div>
          <div ng-show="!!error" class="form-group has-error">
            <div class="col-md-2"></div>
            <div class="col-md-4 help-block">{{error}}</div>
          </div>
        </form>
      </div>

      <div class="container role-management">
        <div class="row">
          <div class="col-md-5">
            <div>
              <h4 class="pull-left">Available Roles</h4>
              <div class="pull-right">
                <a href="#/settings/security/roles">Manage Roles</a>
              </div>
            </div>
            <form role="form">
              <input aria-label="Filter" ng-model="availableRolesQuery" class="form-control" type="text" placeholder="Filter..." />
            </form>
            <select multiple="true" class="form-control" ng-model="selectedAvailableRoles">
              <option ng-repeat="role in availableRoles | filter:{name:availableRolesQuery}" ng-show="user.roles.indexOf(role.name) < 0">{{role.name}}</option>
            </select>
          </div>
          <div class="col-md-2 role-actions">
            <button ng-click="assignRoles(user, selectedAvailableRoles)" class="btn btn-block btn-default" ng-disabled="!selectedAvailableRoles.length">
              Assign <i aria-hidden="true" class="fa fa-chevron-right"></i>
            </button>
            <button ng-click="removeRoles(user, selectedAssignedRoles)" class="btn btn-block btn-default" ng-disabled="!selectedAssignedRoles.length">
              <i aria-hidden="true" class="fa fa-chevron-left"></i> Remove
            </button>
          </div>
          <div class="col-md-5">
            <h4>Assigned Roles</h4>
            <form role="form">
              <input aria-label="Filter" ng-model="assignedRolesQuery" class="form-control" type="text" placeholder="Filter..." />
            </form>
            <select multiple="true" class="form-control" ng-model="selectedAssignedRoles">
              <option ng-repeat="role in user.roles | filter:assignedRolesQuery">{{role}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</kbn-settings-app>
