<kbn-settings-app section="security">
  <div class="kbn-settings-security container">
    <br />
    <ul class="nav nav-tabs">
      <li class="kbn-settings-tab"><a href="#/settings/security/users">Users</a></li>
      <li class="kbn-settings-tab active"><a href="#/settings/security/roles">Roles</a></li>
    </ul>
    <br />
    <div class="tab-content">
      <div class="container">
        <div class="row">
          <h4 ng-if="isNewRole" class="pull-left">New Role</h4>
          <h4 ng-if="!isNewRole" class="pull-left">Edit Role</h4>
          <div class="pull-right">
            <button ng-if="!isNewRole" class="btn btn-danger" ng-click="deleteRole(role)">Delete</button>
            <a href="#/settings/security/roles" class="btn btn-default">Cancel</a>
            <button class="btn btn-primary" ng-click="saveRole(role)">Save</button>
          </div>
        </div>
        <form class="form-horizontal row">
          <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="name" ng-model="role.name" required />
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-md-2 control-label">Description</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="description" />
            </div>
          </div>
        </form>
      </div>
      <br />
      <!--ul class="nav nav-tabs">
        <li class="kbn-settings-tab active"><a>Permissions</a></li>
        <li class="kbn-settings-tab"><a>Assigned Users</a></li>
      </ul-->
      <div class="tab tab-content">
        <h4>Cluster</h4>
        <div class="checkbox-inline" ng-repeat="privilege in privileges.cluster">
          <label>
            <input type="checkbox" ng-checked="includes(role.cluster, privilege)" ng-click="toggle(role.cluster, privilege)" />
            {{privilege}}
          </label>
        </div>
        <br />

        <h4>Run As</h4>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <ui-select class="form-control" multiple ng-model="role.run_as">
            <ui-select-match placeholder="Add a user...">{{$item.username}}</ui-select-match>
            <ui-select-choices repeat="user.username as user in users | filter:$select.search">
              <div ng-bind-html="user.username"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <br />

        <h4>Indices</h4>
        <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">Name</th>
              <th class="col-md-3">Privileges</th>
              <th class="col-md-3">Query</th>
              <th class="col-md-3">Fields</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="4">
                <div class="input-group" style="width: 100%">
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                  <ui-select class="form-control" multiple limit="25" ng-model="newIndex.names">
                    <ui-select-match placeholder="Add an index...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="indexPattern in union([$select.search], indexPatterns) | filter:$select.search">
                      <div ng-bind-html="indexPattern"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </td>
              <td>
                <button ng-click="addIndex(role.indices, newIndex)" ng-disabled="newIndex.names.length === 0" class="btn btn-primary">
                  <i class="fa fa-plus"></i>
                </button>
              </td>
            </tr>
            <tr ng-repeat="index in role.indices">
              <td><div ng-repeat="name in index.names">{{name}}</div></td>
              <td>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                  <ui-select class="form-control" multiple ng-model="index.privileges">
                    <ui-select-match placeholder="Add a privilege...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="privilege in privileges.indices | filter:$select.search" >
                      <div ng-bind-html="privilege"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </td>
              <td><textarea rows="1" placeholder="Add a query..." class="form-control" ng-model="index.query"></textarea></td>
              <td>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                  </span>
                  <ui-select class="form-control" multiple limit="25" ng-model="index.fields">
                    <ui-select-match placeholder="Add a field...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="field in union([$select.search], fieldOptions[$index]) | filter:$select.search">
                      <div ng-bind-html="field"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </td>
              <td><button ng-click="toggle(role.indices, index)" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</kbn-settings-app>
