.idea
.DS_Store
*.iml
*.log
node_modules/
npm-debug.log
.vscode

yarn.lock
package-lock.json

.gradle/

esvm/
build/
target/
test/screenshots/failure/
test/functional/screenshots/failure/
test/functional/screenshots/session/
test/functional/apps/reporting/reports/session

.phantom/
coverage
.aws-config.json
.env
.kibana-plugin-helpers.dev.*
