<div class="upload-data-container">

  <div class="form-group">
    <input type='file' ng-disabled="(saveLock === true)" onchange="angular.element(this).scope().fileNameChanged(this)" />
  </div>

  <div class="form-group">
    <div ng-hide="(uploadData.dataPreview === '')">
      First {{CHAR_LIMIT}} characters of file {{file.name}}:
      <div id="data_preview" class="ml-pre">{{uploadData.dataPreview}}</div>
    </div>
  </div>

  <div ng-show="ui.uploadPercentage >= 0" class="progress" value="{{ui.uploadPercentage}}" max="100">
    <div class="progress-bar upload-progress" style="width: {{ui.uploadPercentage}}%;">
      <span class="progress-label ng-binding">{{ui.uploadPercentage}}%</span>
    </div>
  </div>

  <div ng-show="showImport">
    <button ng-disabled="(file===undefined || saveLock === true)" ng-click="uploadFile()" class="btn btn-info" aria-label="Import">
      {{ui.buttonText}}
    </button>
  </div>
</div>
