<div ng-controller='TabController'>
  <div class="row">

    <div class="col-md-6">
      <div ng-repeat="(key, value) in job">
        <div ng-switch="key">
          <div ng-switch-when="counts">
            <div class="prl_sub_heading">Counts</div>
            <div class='prl_job_section_container'>
              <div>
                <prl-job-item ng-repeat="(key1, value1) in value">
                  <div ng-switch="key1">
                    
                    <div ng-switch-when="inputBytes">
                      <div class="prl_job_row row">
                        <div class="col-md-6">{{key1}}</div>
                        <div class="col-md-6" title="{{value1}} bytes">{{formatData(value1)}}</div>
                      </div>
                    </div>

                    <div ng-switch-default>
                      <div class="prl_job_row row">
                        <div class="col-md-6">{{key1}}</div>
                        <div class="col-md-6">{{toLocaleString(value1)}}</div>
                      </div>
                    </div>

                  </div>
                </prl-job-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div ng-repeat="(key, value) in job">
        <div ng-switch="key">
          <div ng-switch-when="modelSizeStats">
            <div class="prl_sub_heading">Model size stats</div>
            <div class='prl_job_section_container'>
              <div>
                <prl-job-item ng-repeat="(key1, value1) in value">
                  <div ng-switch="key1">
                    
                    <div ng-switch-when="modelBytes">
                      <div class="prl_job_row row">
                        <div class="col-md-6">{{key1}}</div>
                        <div class="col-md-6" title="{{value1}} bytes">{{formatData(value1)}}</div>
                      </div>
                    </div>

                    <div ng-switch-default>
                      <div class="prl_job_row row">
                        <div class="col-md-6">{{key1}}</div>
                        <div class="col-md-6">{{toLocaleString(value1)}}</div>
                      </div>
                    </div>

                  </div>
                </prl-job-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
