<kbn-tooltip text="Export as PDF" placement="bottom" append-to-body="1">
  <!-- <button
    aria-label="Export as PDF"
    aria-haspopup="true"
    aria-expanded="{{ configTemplate.is('report') }}"
    ng-class="{active: configTemplate.is('report')}"
    ng-click="configTemplate.toggle('report');">
    <i aria-hidden="true" class="fa fa-file-pdf-o"></i>
  </button> -->
  <button
    aria-label="Export as PDF"
    aria-haspopup="true"
    ng-click="handleClick()">
    <i aria-hidden="true" class="fa fa-file-pdf-o"></i>
  </button>

</kbn-tooltip>