.tagcloud-vis {
  display: flex;
  flex: 1 1 100%;
  position: relative;
}


.orientation-selector {
  width: 100%;
  height: 120px;
}

.orientation-selector .sector-selector {
  width: 100%;
  height: 80px;
}
