{
  "extends": ["prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": true
      }
    ],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "kibana-custom/no-default-export": "off",
    "import/no-named-as-default": "off"
  }
}
