---
extends: '@elastic/kibana'

plugins:
  - react

ecmaFeatures:
  jsx: true

rules:
  no-shadow: 2
# no-unused-vars: [2, {args: 'all', argsIgnorePattern: '^_'}] # more ideal setting, but lots more work is needed to cleanup
  no-unused-vars: [2, {args: 'none'}]
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
