<div>
  <div class="form-group">
    <div ng-repeat="transform in transforms track by $index">
      <div class="transform">
        <div class="transform-details">
          <div class="title" aria-label="Customised description">{{ transform.transform }}</div>

          <!-- domain_split -->
          <div ng-show="transform.transform==='domain_split'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/domain_split.html'" />
          </div>

          <!-- concat -->
          <div ng-show="transform.transform==='concat'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/concat.html'" />
          </div>

          <!-- exclude -->
          <div ng-show="transform.transform==='exclude'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/exclude.html'" />
          </div>

          <!-- extract -->
          <div ng-show="transform.transform==='extract'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/extract.html'" />
          </div>

          <!-- split -->
          <div ng-show="transform.transform==='split'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/split.html'" />
          </div>

          <!-- trim -->
          <div ng-show="transform.transform==='trim'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/trim.html'" />
          </div>

          <!-- lowercase -->
          <div ng-show="transform.transform==='lowercase'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/lowercase.html'" />
          </div>

          <!-- uppercase -->
          <div ng-show="transform.transform==='uppercase'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/uppercase.html'" />
          </div>

          <!-- geo_unhash -->
          <div ng-show="transform.transform==='geo_unhash'">
            <ng-include src="urlBasePath+'/plugins/prelert/jobs/components/new_job_advanced/transforms_list/transforms/geo_unhash.html'" />
          </div>


        </div>

        <div class="button-container">
          <button
            ng-click="editTransform($index)"
            aria-label="Edit"
            class="btn btn-xs btn-default"
            data-toggle="tooltip"
            tooltip="Edit Transform">
              <i aria-hidden="true" class="fa fa-pencil"></i>
          </button>

          <button
            aria-label="Remove Transform"
            ng-click="removeTransform($index)"
            tooltip-append-to-body="true"
            type="button"
            class="btn btn-xs btn-danger remove-button">
              <i aria-hidden="true" class="fa fa-trash"></i>
          </button>
        </div>
      </div>

    </div>

    <button
      aria-label="Add Transform"
      ng-click="openNewWindow()"
      type="button"
      class="btn btn-primary btn-xs">
        <span class="sr-only">Add Transform</span>
        <i aria-hidden="true" class="fa fa-plus"></i> Add Transform
    </button>
  </div>

</div>
